
<div ng-model="joinView">
  <div>
    <div class="container text-center padding30 border-top" id="1">

        <div>
        <input class='black-line center' placeholder="Enter your name" ng-model="username"/>
      </div>
        <div>
        <input class='black-line center' placeholder="Room ID" ng-model="roomID"/>
        </div>
      <!-- <div class="container"> -->
      <ul class="filter" data-option-key="filter">
        <li><a ng-click="joinRoom()">Join</a></li>
        <li><a ng-click="cancel()">Cancel</a></li>
        <!-- <li><a href="#" data-option-value=".web-design">Web Design</a></li>
        <li><a href="#" data-option-value=".print">Print</a></li> -->
      </ul>
    </div>
    <!-- </div> -->
  </div>

</div>
