
<div id="createView">
  <div>
    <div class="container text-center padding30 border-top" id="1">


      <input class='black-line center' placeholder="Enter your name" ng-model="username"/>
      <!-- <div class="container"> -->
      <ul class="filter" data-option-key="filter">
        <li><a ng-click="createGame()">Create</a></li>
        <li><a ng-click="cancel()">Cancel</a></li>
        <!-- <li><a href="#" data-option-value=".web-design">Web Design</a></li>
        <li><a href="#" data-option-value=".print">Print</a></li> -->
      </ul>
    </div>
    <!-- </div> -->
  </div>
</div>
